<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpCredential" value="storeservice" />
    <add key="FtpHostName" value="127.0.0.1" />
    <add key="MQHostName" value="amqp://guest:guest@localhost:5672" />
    <add key="NumbersQueueName" value="numbers-queue" />
    <add key="TextsQueueName" value="texts-queue" />
    <add key="DatesQueueName" value="dates-queue" />
  </appSettings>
</configuration>